
  
section{
   
        justify-content: center;
        background-image: image(img src="imagenes/FONDO CONTACTO.jpg");
        width: 100%;
        display: inline-flex;
        margin-bottom: 15%;
        margin-top: 15%;


        form {
            text-align: center;
            font-size: 20px;
            font-style: oblique; 
            align-items: center;
            
        }
       
}