header{
    width: auto;
    display: inline-flex;
    
        .logo1{
        margin-right: 0%;
        position: relative;
        top: 40px;
        padding-right: 0%;
    
        }

        #navegador1 {
            padding: 0;
            text-align: right;
            display: flex;     
        }
        li{
            display: inline;
            font-size: 22px;
            margin-right: 5%px;
            text-decoration: none;
        
        }
        #navegador1 li {display: inline;
            font-size: 20px;
            margin-right: 5%px;
            text-decoration: none;
        }
}
    
    
