main{
    grid-row: 3;
    .cuerpo{

        display: grid;
        grid-column: 30% 30% 30%;
        justify-content: space-between;

        
        h2{
            
            text-align: center;
        }
        .product{
            margin-top: 15%;
            .navi{
                display: inline-flex;
                flex-direction: row;
                font-size: 25px;
                justify-content: space-around;
                flex-wrap: nowrap;
                width: 100%;
                
                li{
                    display: grid;
                    grid-column: 3;
                    grid-template-rows: 2;
                    border-image: solid;
                    text-align: center;
                    justify-content: space-between;
                    border: solid black 1px;
                    justify-items: stretch:
                    
                }
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
